{% extends "app/base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block title %}Welcome{% endblock %}

{% block content %}
<style>
    #progress-report {
        height: 400px;
        overflow-y: auto;
        border: 1px solid #000000;
    }
    .progress-step {
        margin: 10px 0;
    }
    /* .loader {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3B71CA;
        animation: spin 1s linear infinite;
    } */

    @keyframes spin {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(300deg);
        }
        66% {
            transform: rotate(270deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="container mt-5">
    <h1 class="text-center pt-5">VibeSync: Enhance your videos with audio!</h1>
    <hr>
    <div class="d-flex flex-row justify-content-center mx-lg-auto max-lg-w-2xl max-xl-w-3xl"></div>
        <form method="post" id="id_videoform" enctype="multipart/form-data">
            {% csrf_token %}
        <!-- <div id="parent" class="d-flex w-full align-items-center">
            <div class="input-group mt-5 d-flex w-full align-items-center"> -->
                <!-- Input for file upload, with specific acceptance for video files -->
                <div class="input-group mt-5">
                    <input id="video" type="file" class="form-control flex-grow-1" style="min-width: 500px;"
                        accept="video/*" aria-label="Upload video" placeholder="Upload video here...">
                    <button id="submitVideo" type="button" class="btn btn-outline-primary">
                        <i class="bi bi-camera-video" id="submitButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Upload video"></i> Submit Video
                    </button>
                </div>
        </form>
    </div>
    <div class="row">
        <!-- video 1 -->
        <div class="col-md-8" id="video_left">
        </div>
        <!-- video 2 -->
        <div class="col-md-4" id="video_right">
        </div>
    </div>
    <!-- submit button -->
    <button type="button" id="submitBtn" class="btn btn-secondary px-3 mt-4" style="display: none;">New Video</button>
</div>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
document.getElementById('submitBtn').onclick = function() {
    window.location.href = "{% url 'app:index' %}";
};
// let video_count = 0;
document.addEventListener('DOMContentLoaded', function(){
    // let lastMessage = null; 

    // function updateStatus() {
    //     console.log("this function called");
    //     console.log(lastMessage);
    //     fetch("{% url 'app:get_status' %}")  // Adjust this URL to where your Django view is hosted
    //         .then(response => response.json())
    //         .then(data => {
    //             // document.getElementById('status').innerHTML = data.message;  // Displaying the status on the page
    //             if (lastMessage !== data.message) {  // Check if the message has changed
    //                 console.log(lastMessage);
    //                 // update UI here
    //                 lastMessage = data.message;  // Update the last message
    //                 // document.getElementById('status').innerHTML = data.message;  // Update the HTML element only if there's a change
    //             }
    //             if (data.status !== 'complete') {
    //                 setTimeout(updateStatus, 500);  // Continue polling if not complete
    //             }
    //         })
    //         .catch(error => console.error('Error:', error));
    // }

    // updateStatus();

    document.getElementById('submitVideo').addEventListener("click", function(event) {
        event.preventDefault(); // prevent default submit behavior
        var post_url = window.location.href;
        var csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        var fileInput = document.getElementById('video');

        if (fileInput.files.length !== 1) {
            alert("Please upload a video file. (Limit 1)");
            return; // Stop the function if not exactly one file is uploaded
        }

        var formData = new FormData();
        var videoFile = fileInput.files[0]; 
        console.log(formData);
        formData.append('video', videoFile, "video.mp4"); 
        formData.append('csrfmiddlewaretoken', csrfToken); 
        formData.append('requestType', 'upload');

        // Submit the form data via AJAX
        $.ajax({
            type: 'POST',
            url: post_url, // Replace with your server endpoint URL
            data: formData,
            processData: false, // Prevent jQuery from converting the FormData into a string
            contentType: false, // Let the browser set the content type
            success: function(response) {
                console.log("Video uploaded successfully");
                document.getElementById('submitVideo').style.display = "none";
                document.getElementById('video').style.display = "none";
                // videoContainer = document.createElement('div');
                // videoContainer.id = 'videoContainer_' + video_count;
                // video_count = video_count++;
                
                // Create and append the video element
                var video = document.createElement('video');
                video.id = 'video_1';
                video.src = "{% static 'app/videos' %}" + response.fileUrl;
                video.width = 320;
                video.height = 240;
                video.controls = true;
                video.autoplay = true;  // Optional: play as soon as loaded

                document.getElementById('video_left').appendChild(video);
                // Clear previous videos if any and add new video
                // videoContainer.innerHTML = '';  
                // videoContainer.appendChild(video); 
                gemini(response.fileUrl);
                // // add gemini api call
                // var gemini = document.createElement('div');
                // gemini.appendChild('')
                // parent.appendChild();
            },
            error: function(xhr, status, error) {
                // Handle error response
                console.error(xhr.responseText);
                console.log("ERROR");
                document.getElementById('submitVideo').style.display = "block";
                document.getElementById('video').style.display = "block";
            }
        });

    });

    function gemini(fileUrl){
        var loader = document.createElement('div');
        loader.className = "loader";
        // document.getElementById('parent').appendChild(loader);
        var csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        var post_url = window.location.href;
        var postData = {
            'requestType': 'gemini',
            'file_url': fileUrl,
            csrfmiddlewaretoken: csrfToken
        };
        // call gemini api
        $.ajax({
            type: 'POST',
            url: post_url, // Replace with your server endpoint URL
            data: postData,
            success: function(response) {
                // document.getElementsByClassName('loader')[0].remove();
                // add system message from socket
                youtubeSearch(response.gemini_json)
            },
            error: function(xhr, status, error) {
                // Handle error response
                console.error(xhr.responseText);
                console.log("ERROR");
                document.getElementById('submitVideo').style.display = "block";
                document.getElementById('video').style.display = "block";
            }
        });
    }

    function youtubeSearch(geminiJson){
        var loader = document.createElement('div');
        loader.className = "loader";
        // document.getElementById('parent').appendChild(loader);

        var csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        var post_url = "{% url 'app:get_yt_link' %}"
        // serialize geminiJson
        geminiJson = JSON.stringify(geminiJson);
        var postData = {
            'gemini_response': geminiJson,
            csrfmiddlewaretoken: csrfToken
        };
        console.log(postData)
        // call yt search api
        $.ajax({
            type: 'POST',
            url: post_url, // Replace with your server endpoint URL
            data: postData,
            success: function(response) {
                // document.getElementsByClassName('loader')[0].remove();
                
                // display file in frontend
                var video = document.createElement('video');
                outputVideoUrl = "{% static 'app/videos' %}" + "/video_output.mp4";
                console.log(outputVideoUrl)
                video.src = outputVideoUrl
                video.id = 'video_2';
                video.width = 320;
                video.height = 240;
                video.controls = true;
                video.autoplay = true;  // Optional: play as soon as loaded

                document.getElementById('video_right').appendChild(video);
                document.getElementById('submitBtn').style.display = "block";

            },
            error: function(xhr, status, error) {
                // Handle error response
                console.error(xhr.responseText);
                console.log("ERROR");
            }
        });
    }

});

</script>

{% endblock %}