{% extends "app/base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block title %}Welcome{% endblock %}

{% block content %}
<style>
    /* Override Bootstrap's default carousel transition duration */
    .carousel-item {
      transition-duration: 0s; /* Change the transition duration to 1 second */
    }

    /* Custom styling */
    .rounded-rectangle {
        background-color: #e9f2f9; /* Light subtle color */
        border-radius: 10px; /* Rounded corners */
        padding: 20px; /* Padding inside the rectangle */
        margin-top: 50px;
    }
</style>
  
<body>
    <div class="container">
        <h1 class="text-center pt-5">VibeSync: Enhance your videos with audio!</h1>
        <hr>
        <!-- <div class="rounded-rectangle consent-text mb-5">
            <p>Welcome to Vibesync! Please enter your video to proceed</p>
        </div> -->
        <!-- <img src="{% static 'app/images/logo.png' %}" alt="Logo" width="200px" height="auto" class="d-inline-block justify-content-center align-text-top"> -->
        <div class="d-flex flex-row justify-content-center mx-lg-auto max-lg-w-2xl max-xl-w-3xl">
            <form method="post"></form>
            {% csrf_token %}
            <div class="d-flex w-full align-items-center">
                <div class="input-group mt-5 d-flex w-full align-items-center">
                    <!-- Input for file upload, with specific acceptance for video files -->
                    <input id="videoUpload" type="file" class="form-control flex-grow-1" style="min-width: 500px;"
                           accept="video/*" aria-label="Upload video" aria-describedby="button-addon2" placeholder="Upload video here...">
                    <!-- Button to trigger the file upload action -->
                    <button id="submit" type="button" class="btn btn-outline-primary" onclick="submitVideo()">Submit</button>
                    <!-- Uncomment below if you need a Save button with additional functionality -->
                    <!-- <button id="saveBtn" type="button" class="btn btn-primary" onclick="submitReport()">Save</button> -->
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block script %}
{% endblock %}